<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ place?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ place?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher
    slot="fixed"
    (ionRefresh)="refresh($event)"
  >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div
    *ngIf="weather; else loading"
    id="container"
  >
    <ion-list>
      <ion-list-header>
        Current weather
      </ion-list-header>
      <div (click)="openForecastDetails(weather.daily[0])">
        <app-place-day-weather
          [weatherDetails]="weather.current"
          [isToday]="true"
        ></app-place-day-weather>
      </div>

      <ion-list-header>
        Forecast
      </ion-list-header>
      <div
        *ngFor="let dailyWeather of weather.daily | slice:1"
        (click)="openForecastDetails(dailyWeather)"
      >
        <app-place-day-weather [weatherDetails]="dailyWeather"></app-place-day-weather>
      </div>
    </ion-list>

  </div>
</ion-content>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>