<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
    >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Saved places</ion-list-header>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let place of places$ | async | keyvalue"
          >
            <ion-item
              lines="none"
              detail="false"
              (click)="selectPlace(place.value.id)"
            >
              <ion-label>{{ place.value.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button (click)="openSearch()">Add place</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>