<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
    >
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            <ion-label>Saved places</ion-label>
            <ion-button (click)="openSearch()">+ Add place</ion-button>
          </ion-list-header>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let place of places$ | async | keyvalue"
          >
            <ion-item
              [routerLink]="['place/weather-overview', place.key]"
              [routerLinkActive]="['selected']"
            >
              <ion-label>{{ place.value.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>