@if (weatherDetails) {
<div class="container" *ngIf="weatherDetails.weather[0]; let weatherOverview">
  <div class="date">{{weatherDetails.dt | secondsToMilliseconds | date:'fullDate'}}</div>
  <div class="forecast-preview  center space-between">
    <span class="center">
      <img [src]="'http://openweathermap.org/img/wn/'+ weatherOverview.icon+'.png'" />
      <span>{{weatherOverview.description | titlecase}}</span>
    </span>

    @if (isToday) {
    <span class="temperature">{{ weatherDetails.temp |
      temperature:TemperatureUnits.KELVIN:TemperatureUnits.CELCIUS}}</span>
    } @else {
    <span class="temperature">
      <span class="max">{{weatherDetails.temp.max |
        temperature:TemperatureUnits.KELVIN:TemperatureUnits.CELCIUS}}</span>
      <span class="min">{{weatherDetails.temp.min |
        temperature:TemperatureUnits.KELVIN:TemperatureUnits.CELCIUS}}</span>
    </span>
    }
  </div>
</div>
}