<ng-container *ngIf="weatherDetails">
  <ion-card *ngIf="weatherDetails.weather[0]; let weatherOverview">
    <ion-card-header>
      <ion-card-subtitle>{{weatherDetails.dt | secondsToMilliseconds | date:'fullDate'}}</ion-card-subtitle>
      <ion-card-title class="center space-between">
        <span class="center">
          <img [src]="'http://openweathermap.org/img/wn/'+ weatherOverview.icon+'.png'" />
          <span>{{weatherOverview.description | titlecase}}</span>
        </span>

        <ng-container *ngTemplateOutlet="isToday ? currentTemp: forecastTemp; context: {temp: weatherDetails.temp}"></ng-container>
        <ng-template #currentTemp let-temp="temp">
          <span class="temperature">{{temp | temperature:'k':'c'}}</span>
        </ng-template>
        <ng-template #forecastTemp let-temp="temp">
          <span class="temperature">
            <span class="max">{{temp.max | temperature:'k':'c'}}</span>
            <span class="min">{{temp.min | temperature:'k':'c'}}</span>
          </span>
        </ng-template>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-container>
