<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{weatherForecast.dt | secondsToMilliseconds | date:'fullDate'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <img [src]="'http://openweathermap.org/img/wn/'+ weatherForecast.weather[0].icon+'@2x.png'" />
  <!-- Temperature -->
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Temperature</ion-col>
      <ion-col>Feel like</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Min</ion-col>
      <ion-col>{{weatherForecast.temp.min | temperature:'k':'c'}}</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Max</ion-col>
      <ion-col>{{weatherForecast.temp.max | temperature:'k':'c'}}</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Morning</ion-col>
      <ion-col>{{weatherForecast.temp.morn | temperature:'k':'c'}}</ion-col>
      <ion-col>{{weatherForecast.feels_like.morn | temperature:'k':'c'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Day</ion-col>
      <ion-col>{{weatherForecast.temp.day | temperature:'k':'c'}}</ion-col>
      <ion-col>{{weatherForecast.feels_like.day | temperature:'k':'c'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Eve</ion-col>
      <ion-col>{{weatherForecast.temp.eve | temperature:'k':'c'}}</ion-col>
      <ion-col>{{weatherForecast.feels_like.eve | temperature:'k':'c'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Night</ion-col>
      <ion-col>{{weatherForecast.temp.night | temperature:'k':'c'}}</ion-col>
      <ion-col>{{weatherForecast.feels_like.night | temperature:'k':'c'}}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- Sunrise & Sunset -->
  <ion-grid>
    <ion-row class="sun-time">
      <ion-col><img src="assets/images/dawn.svg"/></ion-col>
      <ion-col><img src="assets/images/sunset.svg"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{weatherForecast.sunrise | secondsToMilliseconds | date:'H:mm:ss'}}</ion-col>
      <ion-col>{{weatherForecast.sunset | secondsToMilliseconds | date:'H:mm:ss'}}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- Other -->
  <ion-grid>
    <ion-row>
      <ion-col>Rain</ion-col>
      <ion-col>{{weatherForecast.rain}}mm</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Snow</ion-col>
      <ion-col>{{weatherForecast.snow}}mm</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>